body {
  overflow:hidden;
}
.main {
  fill:#eee;
}
.node {
  cursor: pointer;
}

.overlay{
    background-color:#EEE;
}
 
.node circle {
  fill: yellow;
  stroke: #000;
  stroke-width: 1.5px;
}
 
.node text {
  font-size:12px; 
  font-family:sans-serif;
  fill:#000
}
 
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

.hidden {
        display: none;
}

.lightSwitch {
  position:absolute;
  bottom:5px;
  right:5px;
  cursor: pointer;
}
.lightSwitch svg {
  fill: #ccc;
}

/* DARK */

.dark .main {
  fill:#5a5a5a;
}

.dark .overlay{
    background-color:#EEE;
}
 
.dark .node circle {
  fill: #5a5a5a;
  stroke: #ffc802;
}
 
.dark .node text {
  fill:#ffc802
}
 
.dark .link {
  fill: none;
  stroke-width: 2pt;
  stroke: #ffc802;
}

.dark .lightSwitch svg {
  fill: #888;
}
